extend layout
block content
    .col-md-12
        h1 MVC Clash
        p express.js + sub applications + couchdb demo
        ul
            li
                a(href="/products") products
            li
                a(href="/backend") backend
            li
                a(href="/login") login
        p 
            |You can download this demo from
            |&nbsp;
            a(href="https://github.com/revington/mvc_clash") https://github.com/revington/mvc_clash
            
